header{
	background color:#880e4f ;
	width: 100%;
}

body{
    width:800px; 
    margin-left:50%;
    margin-right: 50%;
}

h1{
    color: ;
}

.img-circle{
	border-radius: 100%;
	width: 50%;
	height: auto;

}

p{
    color: red;
}

