header{
	background color:#880e4f ;
	width: 100%;
}

body{
    width:800px; 
    margin-left:auto;
    margin-right: auto;
    font-family: myFirstFont;
}

h1{
}

.img-circle{
	border-radius: 100%;
	width: 50%;
	height: auto;

}

p{
    color: black;
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

