header{
	background color:#880e4f ;
	width: 100%;
}

body{
    width:800px; 
    margin:0 auto;
}

h1{
    color: ;
}

.img-circle{
	border-radius: 50%;
	width: 50%;
	height: auto;

}

p{
    color: red;
}

.circle {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;

}